.showUsers {
    padding: 1rem;
    border: 2px solid #ccc;
    text-align: center;
    justify-content: center;
    width: 300px;
    margin-left: 800px;
}

.form-horizontal {
    text-align: center;
    border: 2px solid #ccc;
    justify-content: center;
    width: 300px;
    margin-left: 800px;
    margin-bottom: 20px;
}